
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
p {
  margin:20px;
  font-size: 1.0em;
  margin-bottom: 2;
  margin-top: 200;
  padding-top: 5px;
}
th, td {
  padding: 20px;
  text-align: left;
  font-weight: bold;
}
h4{
  text-align: center;
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1200px) {
  .column {
    width: 90%;
  }
}
span{
  position: absolute;
}
</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" >
<a [routerLink]="['/']">
  <h1 ><i class="fa fa-home"></i> Baby Shower List</h1>
</a>
<a class="button fancy-button" style="background-color: white" [routerLink]="['/login']" >Logout <i class="fa fa-sign-out" style="color: #1976d2"></i></a>


<h1>Welcome to Bledar + Symela 's </h1>
<h1>Baby Boy Shower Party</h1>

<p>Please find below the list of items to select from:</p>
<p> ** For items #6-39, there is no store page as you can buy them from any of your preferred baby store</p>

  <table>
    <tbody>
      <tr>
        <td><h4>Picture</h4></td>
        <td><h4>Items</h4></td>
        <td><h4>Store</h4></td>
        <td><h4>Name</h4></td>
      </tr>
        <tr *ngFor="let product of products">
          <td># {{product.Nr}}<img src={{product.picture}} width= 70%></td>
          <td><p>{{ product.name}}</p></td>
          <td><a href={{product.URL}} target="_blank">Visit store's page!</a></td>
          <td><p>{{ product.candidates}}</p></td>
          <!--
          <td><ul><li *ngFor="let name of names">{{name}}</li></ul></td>
          <td><input #newName id="inputName" (keyup.enter)="addName(newName.value)"(blur)="addName(newName.value); newName.value='' " ><button (click)="addName(newName.value)">Add name</button><button (click)="clearNames()">Clear names</button></td>
          -->
        </tr>
    </tbody>
  </table>


<!--
<button onclick="sendMail(); return true">Save</button>

<script>    
function sendMail() {
    var link = "mailto:sumela.mixa@gmail.com"
             + "&subject=" + encodeURIComponent("This is my subject")
             + "&body=" + encodeURIComponent(document.getElementById('inputName').value)
    ;
    
    window.location.href = link;
}
</script>
-->