body, html {
  height: 100%;
}

.background{
  background-image: url('https://i.pinimg.com/originals/4a/a0/a3/4aa0a36c789ef80d3bf84c0632a7f601.png'), url('https://i.pinimg.com/originals/b1/d1/43/b1d143a3ea61d80dfb6dc4a7856a1aef.jpg');
    background-position: left , cover;
     background-repeat: repeat, repeat;
    background-size: 400px 400px, auto;
    height: 100%;
}

.container{
  background-color:#e6ffe6
}
