<!-- main app container -->
<div class="jumbotron jumbotron-fluid">
    <div class="container" >
        <div class="row">
            <div class="col-xs-12 col-md-8">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>

<!-- footer -->
<footer class="bg-info">
  <p class="text-center" style="background-color:white;">
  &copy; <a href=""  >Baby Shower 2020</a>
  </p>
</footer>

<script>
  // Your web app's Firebase configuration
  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
  var firebaseConfig = {
    apiKey: "AIzaSyCeDXl4VxoQex2wCxzVA8VKIjyRoCXlfJk",
    authDomain: "baby-shower-241d7.firebaseapp.com",
    databaseURL: "https://baby-shower-241d7.firebaseio.com",
    projectId: "baby-shower-241d7",
    storageBucket: "baby-shower-241d7.appspot.com",
    messagingSenderId: "397231836487",
    appId: "1:397231836487:web:03b0d587f9cc822cda5062",
    measurementId: "G-JG54PE1TC1"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
</script>

