.background{
  background-image: url('https://toppng.com/uploads/preview/transparent-winnie-the-pooh-tigger-11546801454gf7kxmatxn.png');
    background-position: top-right;
    background-repeat: no-repeat;
    background-size: 300px 100px;;
}