body, html {
  height: 100%;
}

.background{
  background-image: url('https://www.pinclipart.com/picdir/middle/126-1260590_tigger-winnie-the-pooh-clip-art-png-download.png'), url('https://i.pinimg.com/originals/b1/d1/43/b1d143a3ea61d80dfb6dc4a7856a1aef.jpg');
    background-position: left , cover;
     background-repeat: no-repeat, repeat;
    background-size: 300px 400px, auto;
    height: 100%;
}

.container{
  background-color:#e6ffe6
}
